// Custom styles for Lockplane documentation

// Highlight the active page with a flat color instead of gradient
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
  background-color: darken($sidebar-color, 6%);
  background-image: none;
}
