// Solarized Dark color scheme for Just the Docs
// Based on Ethan Schoonover's Solarized color palette
// https://ethanschoonover.com/solarized/

// Canonical Solarized colors
$solar-base03: #002b36;
$solar-base02: #073642;
$solar-base01: #586e75;
$solar-base00: #657b83;
$solar-base0:  #839496;
$solar-base1:  #93a1a1;
$solar-base2:  #eee8d5;
$solar-base3:  #fdf6e3;

$solar-yellow:  #b58900;
$solar-orange:  #cb4b16;
$solar-red:     #dc322f;
$solar-magenta: #d33682;
$solar-violet:  #6c71c4;
$solar-blue:    #268bd2;
$solar-cyan:    #2aa198;
$solar-green:   #859900;

// In dark mode, treat "white" as the main page background
$white: $solar-base03;

// Dark greys (page + nav backgrounds)
$grey-dk-000: $solar-base02;
$grey-dk-100: darken($solar-base02, 4%);
$grey-dk-200: darken($solar-base02, 8%);
$grey-dk-250: darken($solar-base02, 12%);
$grey-dk-300: $solar-base03;

// Light greys (primary text + subtle surfaces)
$grey-lt-000: $solar-base0;
$grey-lt-100: $solar-base1;
$grey-lt-200: $solar-base2;
$grey-lt-300: $solar-base3;

// Purples (violet/magenta), same mapping as light
$purple-000: lighten($solar-violet, 10%);
$purple-100: $solar-violet;
$purple-200: mix($solar-violet, $solar-magenta, 50%);
$purple-300: $solar-magenta;

// Blues
$blue-000:  lighten($solar-blue, 10%);
$blue-100:  $solar-blue;
$blue-200:  darken($solar-blue, 6%);
$blue-300:  darken($solar-blue, 12%);

// Greens
$green-000: lighten($solar-green, 10%);
$green-100: $solar-green;
$green-200: darken($solar-green, 6%);
$green-300: darken($solar-green, 12%);

// Yellows
$yellow-000: lighten($solar-yellow, 8%);
$yellow-100: $solar-yellow;
$yellow-200: mix($solar-yellow, $solar-orange, 50%);
$yellow-300: $solar-orange;

// Reds
$red-000: lighten($solar-red, 8%);
$red-100: $solar-red;
$red-200: mix($solar-red, $solar-orange, 50%);
$red-300: darken($solar-red, 10%);
